command_runner==1.5.0
cryptography==41.0.4
discord_webhook==1.1.0
httpx==0.23.3
humanize==4.6.0
loguru==0.6.0
observable==1.0.3
psutil==5.9.4
py_cpuinfo==9.0.0
pywin32==305
requests==2.31.0
setuptools==67.6.0
WMI==1.5.1
